<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Books</title>
    <link type="text/css" href="~/Content/styles/styles.css" rel="stylesheet" />
</head>

<body>
    <h>Books</h>
    <div>
        <a href="/books">List all Books</a>
    </div>
    <div>
        <a href="/new">Add new Book</a>
    </div>
</body>
</html>

