<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Books</title>
    <link href="~/Content/styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <form action="/new" method="post">
        <div>
            <label for="autor">Author</label>
            <input type="text" required name="author" />
        </div>
        <div>
            <label for="title">Title</label>
            <input type="text" required name="title" />
        </div>
        <div class="button">
            <button type="submit">submit</button>
            @*<button type="reset">reset</button>*@
        </div>
    </form>
</body>
</html>
