@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IEnumerable<HelloNancy.DAL.Book>>
@using HelloNancy.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Books</title>
    <link href="~/Content/styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>title</th>
            <th>Author</th>
        </tr>

        @foreach (HelloNancy.DAL.Book b in Model)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.Title</td>
                <td>@b.Author</td>
            </tr>
        }
    </table>
</body>
</html>
